{% extends 'movies_collection/base_extends.html' %}

{% block section_one %}
    <section>
        <div class="container">
      <h2>Movies</h2>

      <table class="table table-bordered">

        <thead>
          <tr>
            <th>Title</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>

            {% for obj in object_list %}
                <tr>
                    <td><a href="{% url 'director-detail' obj.id %}">{{ obj.director_name }}</a></td>
                    {% if user.is_superuser %}
                        <td><a href="{% url 'director-edit' obj.id %}">Edit</a></td>
                        <td><a href="{% url 'director-delete' obj.id %}">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}

        </tbody>
      </table>
      {% if user.is_authenticated %}
        <p><a href="/director-create/">New Director</a></p>
      {% else %}
        To have access to add new director u need log in
      {% endif %}
    </div>
    </section>
{% endblock %}